body {
	background: url(background.png) #2d68a0 no-repeat top center;
	font-family: Helvetica, Arial, sans-serif;
	color: #fff;

}

a, a:visited {
	text-decoration: none;
	border-bottom: 2px;
	border-color: #a2ebfc;
	color: #fff
}

#updates {
	width: 900px;
	margin: 0 auto;
	margin-top: 90px;
}

#left {
	float: left;
	display: inline;
	height: 48px;
	width: 48px;
	padding: 12px;
}

#update {
	clear: both;
	height: 72px; 
	margin-bottom: 8px;
	background: rgba(0,0,0,0.3);
	-webkit-border-radius: 5px;
	-moz-border-radius: 10px;
	padding-right: 12px;
}

.user {
	padding-top: 8px;
	color: #a2ebfc;
	font-weight: bold;
}

.detail {
	padding-top: 4px;
}